<style type="text/css">

@page {
    size: Letter;
    margin: 0.5cm;
}
/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
    font-family: 'Avenir', "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#title p {
    margin: 0;
    font-size: 1.3em;
}

/* Title of the resume */
h1 {
    font-size: 55px;
    color: #757575;
    text-align:center;
    margin: 0;
}
/* h1:hover { */
/*     background-color: #757575; */
/*     color: #FFFFFF; */
/*     text-shadow: 1px 1px 1px #333; */
/* } */

/* Titles of categories */
h2 {
    /* This is called "sectioncolor" in the ConTeXt stylesheet. */
    color: #397249;
    margin-bottom: 0.5em;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    /* This is called "rulecolor" in the ConTeXt stylesheet. */
    background-color: #9CB770;
}
/* h2:hover { */
/*     background-color: #397249; */
/*     color: #FFFFFF; */
/*     text-shadow: 1px 1px 1px #333; */
/* } */

h2, h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.text-normal {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

strong {
    font-weight: 500;
}

ol, ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.experience-type p {
    opacity: 0.8;
    font-weight: 500;
    font-style: italic;
    margin: 0.5em 0;
}

ul li {
    margin: 0.1em 0;
}

table {
    display: table;
    margin: 0;
}

table tbody {
    border-top: 1px solid rgba(57, 114, 73, 0.6);
    border-bottom: 1px solid rgba(57, 114, 73, 0.6);
}

table td {
    width: 50%;
    padding: 0.2em;
}

table td:last-child {
    text-align: right;
    padding-right: 0.5em;
}

table td:first-child {
    text-align: left;
    padding-left: 0.5em;
}

/* Definitions */
dl {
    margin-top: 0.5em;
}

dt {
    float: left;
    clear: left;
    width: 17%;
    font-weight: bold;
}
dd {
    margin-left: 17%;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #397249;
}

a:visited {
    color: #397249;
}

a:hover, a:active {
    background-color: #397249;
    padding: 0.2em 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
    margin: 0;
}

hr.short-line {
    background-color: #397249;
    margin: 0.25em auto;
    width: 85%;
    opacity: 0.5;
}
</style>
